.list {
    margin-top: 40px;
}

.list li {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #F4F4F4;
    font-size: 20px;
    color: #212529;
    padding: 7px 35px;
    margin-top: 15px;
    /*border: 1px solid #999;*/
}

.list li:hover {
    border: 1px solid #CB9AE1;
}

.list li:first-child {
    margin-top: 0;
}

.nav {
    display: flex;
    justify-content: center;

    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 22px;
    border-top: 1px solid #999;
}

.nav a {
    color: #212529;
}

.nav a:hover {
    color: #EEACFF;
    text-decoration: underline;
}